{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    "module:babel-root-slash-import",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
